body {
  font-family: "Poppins", sans-serif;
  color: black;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  height: 100vh;
  width: auto;
}
.homepage-section {
  background: linear-gradient(
    -35deg,
    #5fad56,
    #f2c14e,
    #f78154,
    #30dec1,
    #de4c81
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
}

h1 {
  font-weight: 400;
}

.name-ocupation {
  font-weight: 200;
  font-size: 34px;
}

.view-my-work-button {
  margin: 10px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #c373f5;
  box-shadow: #b4436c;
  color: white;
  transition: background-color 0.5s;
  font-size: 20px;
}

.view-my-work-button:hover {
  text-decoration: none;
  background-color: white;
  color: #c373f5;
}

/* ABOUT ME PAGE */

.logo {
  width: 70px;
  height: 50px;
}
.navbar {
  margin: 10;
  background-color: #000000;
  border-bottom: 4px solid #bf98f6;
}

.about-title {
  margin: 30px;
  font-size: 34px;
}

.about-me p {
  font-weight: 200;
  font-size: 18px;
}

.profile {
  border-radius: 200px;
}

.skills-header {
  text-align: center;
}

.icon{
  display: inline-block;
  font-size: 40px;
  animation: float 5s ease-in-out infinite;
}

.fa-html5 {
  animation-delay: 1s;
}
.fa-css3-alt{
animation-delay: 2s;
}

.fa-js{
animation-delay: 3s;
}

.fa-bootstrap{
animation-delay: 4s;
}
.fa-figma{
  animation-delay: 5s;
}

.fa-github{
  animation-delay: 6s;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}


.icon,
.icons {
  text-align: center;
  padding: 1px;
  font-size: 34px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.skills-div {
  display: block;
  margin: 0 auto;
}

/* CODING PROJECTS */

.navbar-coding {
  margin: 10;
  background-color: #000000;
  border-bottom: 4px solid #98d4f6;
}

.coding-title {
  margin: 30px;
  font-size: 34px;
}

.project-grid {
  padding: 30px;
  columns: 2;
  align-items: center;
}

.buttons {
  text-align: center;
  text-decoration: none;
}

.link-button a {
  color: #000000;
}

.link-button a:hover {
  text-decoration: none;
  color: white;
}

.link-button:hover {
  background-color: #98d4f6;
  color: white;
}
/* PHOTOGRAPHY */
.navbar-photo {
  margin: 10;
  background-color: #000000;
  border-bottom: 4px solid #dbf698;
}

.life {
  text-align: center;
}

.grid-container {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.image {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-size: small;
}

.copy {
  text-align: center;
}

.logoitzel {
  width: 120px;
  height: 100px;
  align-items: top;
  float: right;
}

/* CONTACT */

.navbar-contact {
  margin: 10;
  background-color: #000000;
  border-bottom: 4px solid #fb8f67;
}

.email,
.social {
  text-align: center;
  font-size: 18px;
}

.email a {
  color: #ffffff;
  text-decoration: none;
}

.social {
  font-size: 24px;
  margin: 5px 0 0;
}

.social i {
  color: #ffffff;
}
